# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Pytest cache
.pytest_cache/

# Buildozer build artifacts
.buildozer/
bin/

# Kivy logs
.kivy/

# OS artefacts
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
